body {
background-color: #D5D6D7;
padding:20px;
text-align: center;
}
.header {
border-bottom: 1px solid #959596;
padding: 5px;
color: #ffffff;
background-color: rgb(115, 160, 197);
}
.header a {
text-decoration: none;
color: #ffffff;
}
.pageTitle {
font-size: 3em;
font-weight: normal;
}
.small { font-size: 1em; }

#outerContainer {
border:1px solid #959596;
font-family: "helvetica"; 
color: #000000;
margin: 0 auto;
background-color: #ffffff;
}
#container {
margin-left: auto;
margin-right: auto;
text-align: left;
width: 700px;
color: #333333;
}
#container li {margin-bottom: .3em}
#container .bibliography li {margin-bottom: .5em}
h1 { font-size: 3.8em; color: #736f30; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; text-align: left;}
h3 { font-size: 1.2em; color: #111144}
.description {
font-size: 1.2em;
margin-bottom: 30px;
margin-top: 30px;
font-style: italic;
}



.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
.styleCredit { font-size: 75%; }
