<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <title>{{ page.title }}</title>
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

 </head>

<body>
<a href={{ page.repo }}><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="outerContainer">
  <div class="header">
    <span class="pageTitle">
        <a href="index.html">{{ page.title }}</a>
    </span><br>
    <span class="small">
        {{ page.subtitle }}
    </span>
  </div>
  <div id="container">
    <div class="description">
    </div>

    {{ content }}

    <div class="styleCredit footer">
      (page style "borrowed" from
       <a href="http://kylecordes.com">Kyle Cordes</a>)
    </div>

  </div></div>
</body>
</html>
